<div ng-controller="bookmarkController as vm" ng-cloak>
	
	<div id="fixed" infinit-scroll-page="loadMoreBookmarks()">
	
		<div class="row row--bookmarks__adjust">
		  	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 sidebar">
		  		<ul class="nav nav-sidebar">
		            <li>
		            	<a ng-click="loadByType($event, 'created')">Por data de inclusão</a>
		           	</li>
		            <li>
		            	<a ng-click="loadByType($event, 'latest')">Adicionados recentemente</a>
		            </li>
		    	</ul>
		  	</div>
		  	<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main-bookmarks">
				<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" 
				  				md-row-height-gt-md="1:1" md-row-height="2:2"
				        		md-gutter="12px" md-gutter-gt-sm="8px" >
				
					<md-grid-tile ng-repeat="b in vm.bookmarks">
						<md-card>
							<a href="" class="thumbnail thumbnail__adjust" ng-click="showBookmarkDetails($event, b)">
				        		<img ng-src="{{b.imgNormalUrl}}" class="md-card-image" alt="{{b.title}}" title="{{b.title}}" />
				        	</a>
				        	<md-card-actions layout="row" layout-align="end center">
				          		<div class="shot-stat">
				          			
				          			<span class="shot-stat--container__attachments" ng-if="b.attachmentsCount > 0">
				          				<img ng-src="img/icons/icon-shot-attachments-sm.png" width="16" height="16" />
				          			</span>
				          			
					          		<span class="shot-stat--container shot-stat--container__likes" ng-bind="b.likesCount"></span>
					          		<span class="shot-stat--container shot-stat--container__buckets" ng-bind="b.bucketsCount"></span>
					          		<span class="shot-stat--container shot-stat--container__views" ng-bind="b.viewsCount"></span>
				          		</div>
				        	</md-card-actions>
				      	</md-card>
				    </md-grid-tile>
				
				</md-grid-list>
				
				<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
		      		<md-progress-circular md-diameter="96" style="margin: 0 auto"></md-progress-circular>
		    	</div>
		    	
		  	</div>
		</div>

    </div>
  	
</div>