<md-dialog aria-label="shot.title">
	<form ng-cloak>
    	<md-toolbar>
      		<div class="md-toolbar-tools">
	        	<h2>Propriedade da Imagem</h2>
	        	<span flex></span>
	        	<md-button class="md-icon-button" ng-click="cancel()">
	          		<i class="material-icons">close</i>
	        	</md-button>
      		</div>
    	</md-toolbar>
		
    	<md-dialog-content>
      		<div class="md-dialog-content">
      			
      			<div layout="row">
					<div flex>
						<img ng-src="{{shot.images.normal}}" class="img-thumbnail" alt="{{shot.title}}" title="{{shot.title}}" />
      			
		        		<h3>Autor: {{shot.user.name}}</h3>
		        		
		        		<div class="shot-detail">
			        		<i class="shot-detail--icon material-icons">remove_red_eye</i> 
			        		<span class="shot-detail--count" ng-bind="shot.views_count + ' vizualizações'"></span>
		        		</div>
		        		
		        		<div class="shot-detail shot-detail__adjust"> 
		        			<span class="shot-detail--date">
		        				Data de criação: {{shot.created_at | date: 'dd/MM/yyyy'}}
		        			</span>
		        		</div>
					</div>
				  	<div flex>
				  		<div class="shot-detail">
				  			<a href="" class="shot-detail--favorite" ng-click="addBookmark($event, shot)">
						  		<i class="shot-detail--icon material-icons">done</i> 
						  		<span class="shot-detail--favorite">Salvar nos Favoritos</span>
					  		</a>
				  		</div>
				  		
				  		<div class="shot-detail shot-detail__adjust">
				  			<a href="{{shot.images.hidpi}}" target="_blank" class="shot-detail--zomm">
						  		<i class="shot-detail--icon material-icons">zoom_out_map</i> 
						  		<span class="shot-detail--zomm">Visualizar</span>
					  		</a>
				  		</div>
				  	</div>
				</div>
        		
      		</div>
    	</md-dialog-content>
  		
  	</form>
  	
</md-dialog>