<div ng-controller="shotController as vm" ng-cloak>
	
	<div id="fixed" class="container" infinit-scroll-page="loadMoreShots()" style="margin-top: 25px;">
		
		<div class="row">
			<div class="col-sm-12 main-shots">
				<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" 
				  				md-row-height-gt-md="1:1" md-row-height="2:2"
				        		md-gutter="12px" md-gutter-gt-sm="8px" >
				
					<md-grid-tile ng-repeat="s in vm.shots">
						<md-card>
							<a href="" class="thumbnail thumbnail__adjust" ng-click="showShotDetails($event, s)">
				        		<img ng-src="{{s.images.normal}}" class="md-card-image" alt="{{s.title}}" title="{{s.title}}" />
				        	</a>
				        	<md-card-actions layout="row" layout-align="end center">
				          		<div class="shot-stat">
				          			
				          			<span class="shot-stat--container__attachments" ng-if="s.attachments_count > 0">
				          				<img ng-src="img/icons/icon-shot-attachments-sm.png" width="16" height="16" />
				          			</span>
				          			
					          		<span class="shot-stat--container shot-stat--container__likes" ng-bind="s.likes_count"></span>
					          		<span class="shot-stat--container shot-stat--container__comments" ng-bind="s.comments_count"></span>
					          		<span class="shot-stat--container shot-stat--container__views" ng-bind="s.views_count"></span>
				          		</div>
				        	</md-card-actions>
				      	</md-card>
				    </md-grid-tile>
				
				</md-grid-list>
				
				<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
		      		<md-progress-circular md-diameter="96" style="margin: 0 auto"></md-progress-circular>
		    	</div>
			</div>
		</div>
    
    </div>
  	
</div>