html {
	background: #fff;
}

body {
	padding-top: 50px;
}

html, body {
	height: 100%;
	margin: 0;
}

.thumbnail__adjust {
    padding: 10px 10px 0;
    margin-bottom: 0;
    border: 0;
}

.shot-stat {
	width: 100%;
	height: 30px;
	padding: 10px;
	color: #aaa;
	font-size: 0.85em;
}

.shot-stat--container {
	float: right;
	margin-left: 10px;
	border-left: none;
	padding-left: 18px;
	color: #aaa;
	font-size: 0.8em;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.shot-stat--container__attachments {
	margin-top: -3px;
    float: left;
}

.shot-stat--container__views {
    background-image: url(../img/icons/icon-shot-views-sm.png);
}

.shot-stat--container__comments {
    background-image: url(../img/icons/icon-shot-comments-sm.png);
}

.shot-stat--container__likes {
    background-image: url(../img/icons/icon-shot-likes-sm.png);
}

.shot-stat--container__buckets {
    background-image: url(../img/icons/icon-shot-buckets-sm.png);
}

.shot-detail {
	clear: both;
	color: #aaa;
}

.shot-detail__adjust {
	padding-top: 10px;
}

.shot-detail--icon {
	float: left;
}

.shot-detail--count, shot-detail--date, .shot-detail--favorite, .shot-detail--zomm {
	float: left;
	padding: 2px;
}

a.shot-detail--favorite, a.shot-detail--zomm {
	color: #aaa;
	margin: 0 10px;
}

footer {
	padding: 10px 0;
	background-color: #ddd;
}

.push {
	height: 50px;
}

.wrapper {
	min-height: 100%;
	/* Equal to height of footer */
	/* But also accounting for potential margin-bottom of last child */
	margin-bottom: -40px;
}
	
/*
 * BOOTSTRAP HACKS
 */

/*
 * Navbar
 */

.navbar {
	border: 0;
    border-radius: 0;
}

.navbar-default {
	background-color: #3f51b5;
    border-color: #3f51b5;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover {
    color: rgba(255,255,255,0.87);
}

.navbar-brand:focus {
    color: rgba(255,255,255,0.87)!important;
	background-color: #428bca!important;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav>li>a:focus {
	background-color: #428bca;
}

.navbar-default .navbar-toggle {
    border-color: #428bca;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #428bca;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.87);
}

@media (max-width: 769px) {
	
	body {
		padding-top: 0;
	}
	
	.navbar {
	    margin-bottom: 0;
	}
	
	.navbar-fixed-top {
		position: relative;
	}
	
	.wrapper {
		margin-top: -50px;
	}
}

/*
 * Sidebar
 */

.sidebar {
	background-color: #f5f5f5;
	border-right: 0;
	border-bottom: 1px solid #eee;
	position: absolute;
	margin-top: 50px;
}

.sidebar ul.nav.nav-sidebar {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.sidebar {
	    position: fixed;
	    top: 51px;
	    bottom: 0;
	    left: 0;
	    z-index: 1000;
	    display: block;
	    padding: 10px 20px 20px;
		margin-top: 0;
	    overflow-x: hidden;
	    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	    background-color: #f5f5f5;
	    border-right: 1px solid #eee;
	}
}

/* 
 * Sidebar navigation
 */

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
  	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
  	padding-left: 20px;
	cursor: pointer;
	cursor: hand;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
  	background-color: #428bca;
}

@media (max-width: 769px) {
	
	.nav-sidebar {
		margin-right: -15px; /* 20px padding + 1px border */
		margin-bottom: 20px;
		margin-left: -20px;
	}
}

/*
 * Main content
 */

.main-bookmarks {
	padding: 10px 20px 20px;
	margin-bottom: 15px;
	margin-top: 160px;
	position: relative;
	float: none;
}

.main-shots {
	margin-top: 60px;
}

@media (min-width: 768px) {
	.main-bookmarks {
		padding-top: 30px;
		padding-right: 40px;
    	padding-left: 40px;
		margin-top: 0;
	}
	
	.main-shots {
		margin-top: 0;
	}
}

/*
 * ANGULAR MATERIAL HACKS
 */

/*
 * Toast
 */

md-toast {
    position: fixed !important;
	z-index: 9999;
}

md-toast.md-green-theme .md-toast-content {
  background-color: #62c462; /* verde */
}

md-toast.md-red-theme .md-toast-content{
  background-color: #ee5f5b; /* vermelho */
}

md-toast.md-orange-theme .md-toast-content{
  background-color: #fb921a; /* laranja */
}

md-toast.md-blue-theme .md-toast-content{
  background-color: #0088cc; /* azul */
}

.md-toast-animating {
	overflow: initial !important;
}